* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
 background-color: #f2f2f2;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  background-color: #1d3557;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 2rem 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}



.header-calculator {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.header-container {
  max-width: 1600px;
  padding: 0 2rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 4rem;
  height: auto;
}

.logo-figcaption {
  padding: 2rem;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.flags  {
  width: 3rem;
  height: auto;
  border-radius: 20%;
  display: flex;
  margin-left: 1200px;
}

ul {
  list-style-type: none;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s;
  font-size: 1.1rem;
}

.menu a:hover,
.menu a.current {
  color: #ddd;
}

.logo {
  width: 4rem;
  height: auto;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: color 0.3s;
}

.menu a:hover,
.menu a.current {
  color: #fff;
}

.main-header {
  text-align: center;
  padding: 2rem 0;
  background-color: #e6e6e6;
  border-bottom: 0.2rem solid #ccc;
}

.main-nagl-title {
  color: #1d3557;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 40px;
  justify-items: center;
  align-items: start;
  /*padding: 2rem;*/
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
}

/*.container {

  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 1400px;
  padding: 2rem;
} */

.div-calculator {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 16px;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.div-calculator:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.div-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin-bottom: 15px;
}

.footer {
  margin-top: auto;
  text-align: center;
  background-color: #1d3557;
  color: #ccc;
  padding: 15px;
  font-size: 0.9rem;

}

@media (max-width: 1100px) {
  .main-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 40px;
  }
}

@media (max-width: 600px) {
  .main-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 30px;
  }

  .div-calculator {
    width: 80%;
    height: 200px;
  }
}

.container {
  background: rgba(0, 0, 0, 0.2);
  max-width: 1400px;
  /*width: 90%;*/
  margin: 20px auto 0;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  grid-column: 1 / -1;
  display: flex;
  align-items: center;

}

.content {
  flex: 1;
}

.container h2 {
  color: #1e2a38;
  margin-bottom: 10px;
}

.parameters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  /*margin: 20px 0;
  text-align: left;*/
  align-self: center;
  margin: 40px;
}

.parameters label {
  font-weight: 500;
  display: grid;
  /*justify-content: space-between;*/
  grid-template-columns: 80px 150px auto;
  align-items: center;
  column-gap: 30px;
}

.parameters input {
  width: 150px;
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.img_Calculator {
  /*display: flex;
  flex-direction: column;*/
  width: 500px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  /*position: absolute; */
}

.direction {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.direction label {
  cursor: pointer;
}


button {
  background-color: #1e2a38;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background 0.3s ease;
  font-size: 1rem;
}

button:hover {
  background-color: #2e3b4f;
}

.return {
  margin-top: 20px;
  background-color: #ccc;
  color: #222;
}

.return:hover {
  background-color: #bbb;
}


.result {
  margin: 20px;
  font-size: 1.1rem;
  background: #f0f3f9;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;

}